/*
      Created by Keith Donegan of Code-Sucks.com
	  http://www.code-sucks.com
*/

* { padding: 0; margin: 0; }

body {
	font-family: PT Sans, Arial, sans-serif;
	font-size: 14px;
}
#wrapper { 
	margin: 0 auto;
	width: 922px;
}
#header {
	width: 900px;
	color: #333;
	padding: 0px;
	border: 1px solid #ccc;
	height: 200px;
	margin: 10px 0px 0px 0px;
	background: #BD9C8C;
	text-align: center;
	line-height: 50px;
}
#content { 
	width: 900px;
	color: #333;
	border: 1px solid #ccc;
	background: #F2F2E6;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	height: 400px;
}
#context_box {
    width: 19%;
    height: 80px;
    background-color: #444444;
    color: #ffffff;
    float: left;
    clear: both;
}
#sub_content { 
	width: 900px;
	color: #333;
	border: 1px solid #ccc;
	background: #F2F2E6;
	margin: 0px 0px 0px 0px;
	padding: 10px;
	clear: both;
}
#footer { 
	width: 100%;
	color: #333;
	background: #BD9C8C;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 10px 0px;
	clear: both;
	height: 150px;
    text-align: center;
}
div.footer-section {
    text-align: left;
    display: inline-block;
    width: 200px;
}
ul.navlist {
	list-style: none;
	list-style-image: none;
	overflow: hidden;
	margin: 0 20px 0 0;
	padding: 0;
	float: left;
	text-align: left;
} 
.navlist li {
    border-width: 1px 0;
    margin: 5px 0;
	padding-right: 20px;
}

.navlist li a { 
    color: #990000;
    font: bold 120%;
    text-decoration: none;
}

.navlist li a:hover {
    background: #ffffcc;
}

#chart_container {
    display: inline-block;
    float: left;
}
#chart {
    float: left;
}
#legend {
    float: left;
    margin-left: 15px;
}
#slider {
    float: left;
}
#offset_form {
    float: left;
    margin: 2em 0 0 15px;
    font-size: 13px;
}
#y_axis {
    float: left;
    width: 40px;
}
#poll_agency_cloud {
}
#cloud_frame {
    border-style: none;
    width: 900px;
    height: 200px;
}
