/*
      Created by Keith Donegan of Code-Sucks.com
      http://www.code-sucks.com
*/

* { padding: 0; margin: 0; }

body {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 14px;
}
#wrapper { 
    margin: 0 auto;
    width: 922px;
}
#header {
    width: 100%;
    color: #333;
    padding: 0px;
    border: 1px solid #ccc;
    margin: 10px 0px 0px 0px;
    background: #BD9C8C;
    text-align: center;
    line-height: 50px;
}
#content { 
    width: 100%;
    color: #333;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    height: 100%;
}
.obama_tweet {
    width: 38%;
    float: left;
    font-weight: bold;
    color: white;
    padding: 5px;
    background-color: #4d7fcf;
}
.info_text {
    color: gray;
    width: 20%;
    float: left;
    text-align: center;
}
.romney_tweet {
    width: 38%;
    float: left;
    text-align: right;
    font-weight: bold;
    color: white;
    padding: 5px;
    background-color: #ED4337;
}
#sub_content { 
    width: 100%;
    color: #333;
    background: #F2F2E6;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    clear: both;
}
#footer { 
    width: 100%;
    color: #333;
    background: #BD9C8C;
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    clear: both;
    height: 150px;
    text-align: center;
}
div.footer-section {
    text-align: left;
    display: inline-block;
    width: 200px;
}
ul.navlist {
    list-style: none;
    list-style-image: none;
    overflow: hidden;
    margin: 0 20px 0 0;
    padding: 0;
    float: left;
    text-align: left;
} 
.navlist li {
    border-width: 1px 0;
    margin: 5px 0;
    padding-right: 20px;
}

.navlist li a { 
    color: #990000;
    font: bold 120%;
    text-decoration: none;
}

.navlist li a:hover {
    background: #ffffcc;
}

#chart_container {
    display: inline-block;
    background: #F2F2E6;
    float: left;
    width: 100%;
}
#chart {
    float: left;
}
#legend {
    float: left;
    margin-left: 15px;
}

#slider {
    float: left;
}
#context_box {
    width: 100%;
    height: 100px;
    background-color: #F2F2E6;
    float: left;
    clear: both;
}
#offset_form {
    float: left;
    margin: 2em 0 0 15px;
    font-size: 13px;
}
#y_axis {
    float: left;
    width: 40px;
}
#poll_agency_cloud {
}
#cloud_frame {
    border-style: none;
    width: 100%;
    height: 200px;
}
